<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="UserDatabase" 
             connectionString="server=localhost;user=root;password=pass;port=3306;database=users;" 
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="ApplicationName" value="Professional User Database Manager"/>
        <add key="Version" value="2.0"/>
    </appSettings>
</configuration>